*__pycache__*
checkpoints/*
tensorboard/*
result/
data/train/*
data/test/*
log/*
*.sh
result/*
.idea/
.idea/*
*.pyc
*.zip
.env
server.log
server.pid
web/static/results/*
web/static/uploads/*
web/static/assets/*
web/static/js/*
web/node_modules/*
